html {
    font-size: 55px;
    font-family: "Cinzel", serif;
}

h1 {
    font-size: 50;
    text-align: center;
}
 
h2 {
    font-size: 45;
    text-align: center;
}

p, ul{
    font-size: 26;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
}

li {
    font-size: 20;
    display: inline-block;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }