html {
    font-size: 55px;
    font-family: "Cinzel", serif;
}

h1 {
    font-size: 50;
    text-align: center;
}
 
h2 {
    font-size: 45;
    text-align: center;
}

p, ul{
    font-size: 60;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
}

ul{
    font-size: 50;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
    list-style: inside;
}

li {
    font-size: 40px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }